<%- include("header");  %> 

<h1 style="color: black">Pranay Lohe is here!</h1>
<p>Interested in acquiring a position as a
    Software Developer in a fast-paced tech
    environment to use my computer science
    skills and experience developing custom
    software for a variety of clients</p>

<%- include("footer")  %> 
