</body>

<footer>

    <div class="icons">
        <a class="fa-solid fa-envelope icon" href="mailto:pranaylohe2077@email.com" target="_blank"></a>
        <a class="fa-brands fa-linkedin icon" href="https://www.linkedin.com/in/pranaylohe
        " target="_blank"></a>
        <a class="fa-brands fa-github icon" href="https://github.com/pranay595
        " target="_blank"></a>
        <a class="fa-solid fa-file icon" href="https://pranay595.github.io/mySite/" target="_blank"></a>
        <br>
        <br>
        &copy; Pranay Lohe
</footer>

</html>